bluraybackup-ex
bluraybackup-ex-[1-9].[0-9].tar.gz
debian/debhelper-build-stamp
debian/files
[Kk][Ee][Yy][Dd][Bb].[Cc][Ff][Gg]
*.o
*.iso
*.deb
*.ddeb
*.buildinfo
*.changes
dist/
build/
obj-*/
test/
test_main/*
keydb.cfg
debian/.debhelper/
debian/*.debhelper.log
debian/*.substvars
debian/bluraybackup-ex/